.Burger {
  width: 100%;
  height: 250px;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media (min-width: 640px) {
  .Burger {
    width: 700px;
    height: 800px;
  }
}
@media (min-width: 500px) {
  .Burger {
    width: 450px;
    height: 500px;
  }
}
