* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HambContainer {
  display: block;
  /* margin-right: 1rem; */
}

.HambLine {
  width: 30px;
  height: 3px;
  background-color: rgb(47, 123, 236);
  margin: 7px;
}
