.NavItems {
  background-color: rgb(238, 238, 94);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavItems img {
  width: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.HambContainer {
  display: none;
}
.SideDrawer {
  display: none;
}
.LeftSide {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  margin-left: 5px;
}
.RightSide {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
a:hover,
a:active {
  border-bottom: 4px solid rgb(47, 123, 236);
}
.MobileOnly {
  display: none;
}

@media (max-width: 625px) {
  .LeftSide {
    width: 100%;
  }

  .RightSide {
    width: 0;
    display: none;
  }
  .MobileOnly {
    display: block;
  }
}
